{% extends "base.html" %}

{% block header %}

<header>
    <div class="container">
        <h1 class="header">My Portfolio</h1>
    </div>
</header>

{% endblock header %}
{% block content %}
<style>
h3{
  text-align: center;
  color: Green;
}
p{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.center {
  padding-top: 10%;
  text-align: center;
}

</style>

  <head>
    <meta charset="utf-8">
    <title>About </title>
  </head>

  <body>
  <div class="center">
    <h3>About me</h3>
      <p>Working as a Python Automation Developer in TCS and passionate about cutting-edge
        technology and solving real world problems, with previous experience in Quality Assurance -
        automation and manual testing. I am actively seeking to leverage my machine learning expertise
        in different areas.Skilled in Agile Methodologies, Test Automation using python , SQL , and Software Testing.</p>
  </div>
  <div>
    <p>Click on <strong>MY PROJECTS</strong> to get all my Project Details</p>
  </div>
  </body>

{% endblock %}