{% extends "base.html" %}

{% block header %}

<header>
    <div class="container">
        <h1 class="header">My Portfolio</h1>
    </div>
</header>

{% endblock header %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>About Me</title>
<!--    <link href="./static/css/about.css" rel="stylesheet" type="text/css"/>-->
  </head>

  <body>
  <div class="wrapper">
    <h3>About Me</h3>
      <p>Working as a Python Automation Developer in TCS and passionate about cutting-edge
        technology and solving real world problems, with previous experience in Quality Assurance -
        automation and manual testing. I am actively seeking to leverage my machine learning expertise
        in different areas.Skilled in Web Development , Agile Methodologies, Test Automation using python , SQL , and Software Testing.</p>
  <div>
    <p>Click on <strong>MY PROJECTS</strong> to get all my Project Details</p>
    <p>Please find the Contact Details given in the footer:</p>
    <p>Click on <strong>LinkedIn</strong> to get my LinkedIn profile</p>
  </div>
    <div class="push"></div>
  </div>
  </body>

{% endblock %}