h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
.footer {
   position: absolute';
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #8a59ae;
   color: white;
   text-align: center;
}
body {
  background-color: #ddd
  }

ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: None;
      background-color: #4d8080;
    }

li {
      float: left;
    }

li a {
      display: block;
      color: White;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
    }

li a:hover:not(.active) {
      background-color: #ddd;
    }

